body {
    background-color: #030303;
    margin: auto;
}

header {
    text-align: center;
    outline: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    background-image: url(astro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.topo, .resumo, .formacao, .idioma, .habilidade, .hobby, footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.resumo {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 10px auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 75%;
}

.resumo p {
    margin: 20px 20px 20px 20px;
}

.formacao {
    background-color: rgba(51, 51, 51, 0.4);
    text-align: center;
    margin: 10px auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 75%;
}

.idioma {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 10px auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 75%;
}

.habilidade {
    background-color: rgba(51, 51, 51, 0.4);
    text-align: center;
    margin: 10px auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 75%;
}

.hobby {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 10px auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 75%;
}

footer {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 50px auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 75%;
}

footer img {
    outline: 1px solid white;
    margin-left: 5px;
}
