body {
    background-color: black;
    margin: auto;
    width: 980px;
    align-content: center;
}

header {
    text-align: center;
    outline: 1px solid black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    background-image: url(astro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;

}

.topo {
    font-family: Arial, Helvetica, sans-serif;
}

.resumo, .formacao, .idioma, .habilidade, footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*.resumo p {
    margin-left: 300px;
    margin-right: 300px;
}*/

.resumo {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.formacao {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.idioma {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.habilidade {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    background-color: rgba(51, 51, 51, 0.2);
    text-align: center;
    margin: 100px 5px 5px 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer img {
    outline: 1px solid white;
    margin-left: 5px;
}